{:deps {:aliases [:shadow]}
 :dev-http {9000 ["dev" "web"]}
 :builds {:dev {:target :browser
                :entries [eywa.main]
                :module-loader true
                :modules {:main {:entries [eywa.main]
                                 :init-fn eywa.main/start!}
                          :markdown {:entries [toddler.md]
                                     :depends-on #{:main}}
                          :docs {:entries [eywa.docs]
                                 :depends-on #{:main}}}
                :closure-defines {eywa.main/ROUTER_BASE ""}
                :output-dir "dev/js"}
          :production {:target :browser
                       :module-loader true
                       :output-dir "target/js"}}}
